@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100&display=swap');

:root{
  --main-font:'Roboto','Segoe UI';
  --back-color: #4B4A54;
  --secondary-color:#82A0AA;
  --third-color:#A3CFCD;
}
body {

  margin: 2rem;
    color: whitesmoke;
    background: rgb(24, 24, 24);
  
  }
  
  h1 {
    font-family: var(--main-font);
    text-align: center;
    font-size: 3rem;
    letter-spacing: 2px;
    margin-bottom: 6rem;
  }
  
  // creation du container des cartes/--------------------------
  .main__container {
    display: flex;
    flex-wrap: wrap;
    gap: 5rem;

// creation des differentes cartes par rapport a leur couleurs
.anime__frontYellow {
  width: 16rem;
  border: 1.5px solid rgb(177, 163, 72);
  border-radius: 8px;
  box-shadow: 0px 0px 15px 7px rgb(177, 163, 72);
 }

 .anime__frontViolet {
  width: 16rem;
  border: 1.5px solid rgb(71, 19, 142);
  border-radius: 8px;
  box-shadow: 0px 0px 15px 7px rgb(71, 19, 142);
 }

 .anime__frontBlue {
  width: 16rem;
  border: 1.5px solid rgb(0, 44, 203);
  border-radius: 8px;
  box-shadow: 0px 0px 15px 7px rgb(48, 77, 180);
 }

 .anime__frontPink {
  width: 16rem;
  border: 1.5px solid rgb(167, 34, 194);
  border-radius: 8px;
  box-shadow: 0px 0px 15px 7px rgb(167, 34, 194);
 }

 .anime__frontWhite {
  width: 16rem;
  border: 1.5px solid rgb(255, 254, 255);
  border-radius: 8px;
  box-shadow: 0px 0px 15px 7px rgb(255, 254, 255);
 }
 .anime__frontRed {
  width: 16rem;
  border: 1.5px solid rgb(232, 17, 17);
  border-radius: 8px;
  box-shadow: 0px 0px 15px 7px rgb(232, 17, 17);
 }

   // resize de l'image/-----------------------------------------
 .anime__img {
  width: 16rem;
  height: 32rem;
  border: 0.5px solid rgb(48, 49, 51);
  border-radius: 8px;
}
}


//  flip effect/------------------------------------------
.scene{
  width: 16rem;
  height: 32rem;
  perspective: 1000px;

// classe à ajouter pour la rotation /----------------------------
  .card__flip{
    transform: rotateY(180deg);
   }
   // contenant pour pouvoir positioner recto et verso en absolute
    .card__container{
    position: relative;
    width: 100%;
    height: 100%;
    text-align: center;
    transition: transform 1.5s;
    transform-style: preserve-3d;

   //dimension et positionement carte-----------------------------
    .card__face {
      position: absolute;
      width: 100%;
      height: 100%;
      -webkit-backface-visibility: hidden; /* Safari */
      backface-visibility: hidden;
    }
    // style dos de la carte
    .card__back {
      background: var(--back-color);
      transform: rotateY( 180deg );
      border: 0.5px solid #4B4A54;
      border-radius: 8px;
      cursor: default;
      
      h2{
        letter-spacing: 1px;
        font-family: var(--main-font)
      }
      a {
        text-decoration: none;
        color: var(--secondary-color);
      }
      a:hover{
        border-top: 1px solid var(--secondary-color);
        color: var(--secondary-color);
      }
      div{
        margin: 0.5rem;
        line-height: 1.5rem;
      }
     }
   }
  }
  



